.pane-item {
  .panel {
    // Not sure if this is still needed. Disabled for now
    //border-color: fadeout(@inset-panel-border-color, 30%);
  }
}

atom-pane-container {
  atom-pane {
    position: relative;
    background-color: @app-background-color;
    border: solid @pane-item-border-color;
    border-width: 0 @component-padding / 2;
  }

  atom-pane-axis {
    &.horizontal > * {
      // border-left-width: 0;
    }

    &.vertical > * {
      // border-bottom: @component-padding / 2 solid @pane-item-border-color;
    }
  }
}
